div.post-copyright
    script(type='text/javascript',src=url_for(theme.js) + '/copyright.js',successtext=__('copy_success_text'))
    link(rel='stylesheet', type='text/css', href=url_for(theme.css) + '/copyright.css')
    p
        span= __('copyright_declare_prefix')
        if theme.post_copyright.copyright_text
            != theme.post_copyright.copyright_text
        else
            != __('copyright_default_text')
br